@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
   height:100vh;
   margin:0; /* this makes the footer go to the bottom and even*/
   overf low: hidden;/*this makes it so that the footer isnt visible when*/
   font-family:Roboto,sans-serif;
}
a{
    text-decoration: none;
    color:gray;
}
ul{
    list-style-type:none;
}
.footer{
    display:flex;
    background-color:rgb(233, 233, 233);
    justify-content: space-between;
    margin-top: 230px;
}
.footer .right-links{
    display:flex;
    gap:12px;
}
.footer .left-links{
    display:flex;
    gap:12px;
}
.input{
    display:flex;
    justify-content: center;
}
img{
    display:block;
    width:450px;
  margin-left:auto; margin-right:auto; margin-top:80px;
  
}
/*.right-links{
    display:flex;
    justify-content:flex-end;
    gap:10px;
}*/
.buttons{
    display:flex;
    justify-content: center;
    margin-top:8px;
    gap:4px;
    
}
button{
    border:none;
    border-radius: 6px;
}
input{
    border-radius:10px;
    width:25%;
    border:1px gray solid;
    padding:4px 10px;
    margin-bottom:10px;
}
/*.left-links{
    display:flex;
    gap:10px;
    align-self: center;
}
*/
.header{
    display:flex;
    bo rder:1px solid black;
    justify-content: space-between;
   width:auto;
   font-weight:bold;
   align-items: center;
   margin-bottom:8px;
   font-size:12px;
}
.header .right-links{
    display:flex;
    gap:10px;
  
}
.header .left-links{
    display:flex;
    gap:10px;
    width:auto; height:auto;
}
div{
   
}


